
body{
		font-family: Arial,Helvetica,sans-serif;	
}


.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	background: #fff none repeat scroll 0 0;
	border: 1px solid #bbb;
	box-shadow: 3px 3px 12px rgba(50, 50, 50, 0.55);
	font-size:0.9rem;
	height: 250px;
	overflow-y: auto;
	overflow-x: hidden;
	width:256px !important;	
}

.ui-button-icon-only {
	width: 2.2em;
}


/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
	left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
	right: .5em;
}

.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	position: absolute;
}
.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0; /* support: IE7 */
	/* support: IE10, see #8844 */
	list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.ui-menu li:hover{
	background:#e5e5e5 none repeat scroll 0 0;
}
.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: -1px;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item {
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: .2em;
	margin: auto 0;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	left: auto;
	right: 0;
}

.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #dddddd;
	/*background: #eeeeee url("../assets/images/progress_bg.png") 50% top repeat-x;*/
	color: #333333;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #8da6b1;
	background: #8da6b1;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}
.ui-container .ui-helper-hidden-accessible,.ui-helper-hidden-accessible { display:none!important; }
/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	/*background: #f6f6f6 url("images/ui-bg_glass_100_f6f6f6_1x400.png") 50% 50% repeat-x;*/
	font-weight: bold;
	color: #1c94c4;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #1c94c4;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 0px;
    color: #000;
    font-weight: bold;
	background:#e5e5e5 none repeat scroll 0 0;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #000;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: 1px solid #cccccc;
	font-weight: bold;
	color: #eb8f00;

}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #eb8f00;
	text-decoration: none;
	
}
.custom-combobox-toggle:hover {
    background: #e6e6e6 none repeat scroll 0 0;
    border: 1px solid #cccccc;
}

.custom-combobox-input {
    margin-top: 4px;
    padding: 5px 10px;
	width: 200px;
	font-size: 1rem ;
	color:#6b6b6b;
	margin-top: 5px;
	font-weight: normal;
}
.ui-state-default .ui-icon {
    background-image: url("//www.oracle.com/us/assets/qt-sales-cloud-2984746.png");
}
#phone_no_list_div{ font-size: 20px;
    line-height: 30px;
	clear:both;
	padding-top: 10px;
    margin: 20px 0 0 55px;}
	label{font-size:1.1rem;padding:5px 0px;color:#6b6b6b !important;display: inline-block;}
#phone_no_list_div a{text-decoration:none !important;color:#1f4f82!important;cursor: pointer !important;}
.left-icon{
	width:54px;
	height:54px;
	float:left;
	display: inline-block;
    background: url('//www.oracleimg.com/us/assets/icon-contact-3090442.jpg')  no-repeat;
    position: relative;
	 margin-top: 10px;
}
.custom-combobox {
		position: relative;
		display: inline-block;
	}
.custom-combobox-toggle {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-left: -1px;
		padding: 0;
	}
.custom-combobox-input {
		margin: 0;
		padding: 5px 10px;
	}
.ui-autocomplete-category,.ui-autocomplete-category:hover {
    background: #8da6b1 none repeat scroll 0 0;
    color: #fff;
    font-size: 1rem;
    padding-left: 16px !important;
}


@media only screen and (max-device-width: 769px)  {
	.custom-combobox{
		display:none;
	}
	#country_list{display:block !important;margin: 5px; width: 64%;}
	#phone_no_list_div{width: 64%;  word-wrap: break-word;}
}
/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: none;
	color: #6b6b6b;
    display: inline-block;
    font-size: 1.1rem;
    padding: 5px 0;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	/*background: #b81900 url("images/ui-bg_diagonals-thick_18_b81900_40x40.png") 50% 50% repeat;*/
	color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}

.ui-icon-triangle-1-s { background-position: -64px -16px; }



/* Misc visuals
----------------------------------*/

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
	 border-bottom-right-radius: 4px;
	 /*padding:9px 0;
	 height: 31px;*/
}	

/* Overlays */
.ui-widget-overlay {
	/*background: #666666 url("images/ui-bg_diagonals-thick_20_666666_40x40.png") 50% 50% repeat;*/
	opacity: .5;
	filter: Alpha(Opacity=50);
}
.ui-widget-shadow {
	margin: -5px 0 0 -5px;
	padding: 5px;
	/*background: #000000 url("images/ui-bg_flat_10_000000_40x100.png") 50% 50% repeat-x;*/
	opacity: .2;
	filter: Alpha(Opacity=20);
	border-radius: 5px;
}
/* ------------------Responsive lightbox styles------------------- */
.ui-autocomplete{z-index:10001;font-size: 14px;}
	.ui-widget .ui-widget {
    font-size: 16px !important;}
	label {
    font-size: 18px!important;
	}
	 .ui-container{
		width:500px;
		min-height:240px;
	} 
	.w01w1.w01{
		margin-left:-267px !important;
	}
#country_list option[value=placeholder],#country_list option:first{display:none;}
	@media screen and (max-width: 640px) {
		.ui-container{
			width:100%!important;
		} 
		.ui-autocomplete{
			width:72% !important;
		}
		
		.custom-combobox-input{
			width:80%!important;
		}
		/* .custom-combobox{
			display:block !important;
		} */
		
		.w01w1.w01{
			margin-left:0 !important;
			left:0 !important;
			width:100% !important;
		}
	}
	
	/*---------------- cloud.oracle.com overrides----------------------------*/
	.ui-container {
		min-height: auto;
	}
	.left-icon {
		display:none;
	}
	#phone_no_list_div {
		font-size: 12px;
		margin: 0 0 0 0;
	}