body, h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue","Segoe UI",sans-serif !important;
	font-family: HelveticaNeue-Medium, "Helvetica Neue�, "Segoe UI Semibold�, "Segoe UI�, sans-serif-medium !important;
	font-family: HelveticaNeue-Light,"Helvetica Neue","Segoe UI Semilight","Segoe UI",sans-serif-light !important;
	font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif-regular !important;
}
H1.display-white {
	font-size: 2.875rem;
	line-height: 3.375rem;
	text-align: left;
	color: white;
}

H1.display-white-center {
	font-size: 2.875rem;
	line-height: 3.375rem;
	text-align: center;
	color: white;
}

H1.display-paas {
	font-size: 2.875rem;
	line-height: 3.375rem;
	text-align: left;
	color: #228272;
}

H1.display-saas {
	font-size: 2.875rem;
	line-height: 3.375rem;
	text-align: left;
	color: #008193;
}

H1.display-iaas {
	font-size: 2.875rem;
	line-height: 3.375rem;
	text-align: left;
	color: #007CA8;
}

H1.display-black {
	font-size: 2.875rem;
	line-height: 3.375rem;
	text-align: left;
	color: #282A2C;
}

H1.black {
	font-size: 2.125rem;
	line-height: 2.625rem;
	text-align: left;
	color: #282A2C;
}

H1.black-center {
	font-size: 2.125rem;
	line-height: 2.625rem;
	text-align: center;
	color: #282A2C;
}

H1.white {
	font-size: 2.125rem;
	line-height: 2.625rem;
	text-align: left;
	color: white;
}

H1.iaas {
	font-size: 2.125rem;
	line-height: 2.625rem;
	text-align: left;
	color: #007CA8;
}

H1.paas {
	font-size: 2.125rem;
	line-height: 2.625rem;
	text-align: left;
	color: #228272;
}

H1.saas {
	font-size: 2.125rem;
	line-height: 2.625rem;
	text-align: left;
	color: #008193;
}

H2.iaas-center {
	font-size: 2.000rem;
	line-height: 2.500rem;
	text-align: center;
	color: #007CA8;
}

H2.paas-center {
	font-size: 2.000rem;
	line-height: 2.500rem;
	text-align: center;
	color: #228272;
}

H2.saas-center {
	font-size: 2.000rem;
	line-height: 2.500rem;
	text-align: center;
	color: #008193;
}

H2.white-center {
	font-size: 2.000rem;
	line-height: 2.500rem;
	text-align: center;
	color: white;
}

H3.black {
	font-size: 1.875rem;
	line-height: 2.375rem;
	text-align: left;
	color: #282A2C;
}

H3.iaas {
	font-size: 1.875rem;
	line-height: 2.375rem;
	text-align: left;
	color: #007CA8;
}

H3.paas {
	font-size: 1.875rem;
	line-height: 2.375rem;
	text-align: left;
	color: #228272;
}

H3.saas {
	font-size: 1.875rem;
	line-height: 2.375rem;
	text-align: left;
	color: #008193;
}
H4.iaas {
	font-size: 1.500rem;
	line-height: 2.000rem;
	text-align: left;
	color: #007CA8;
}
H4.paas {
	font-size: 1.500rem;
	line-height: 2.000rem;
	text-align: left;
	color: #228272;
}
H4.saas {
	font-size: 1.500rem;
	line-height: 2.000rem;
	text-align: left;
	color: #008193;
}
H4.black {
	font-size: 1.500rem;
	line-height: 2.000rem;
	text-align: left;
	color: #282A2C;
}
H4.white {
	font-size: 1.500rem;
	line-height: 2.000rem;
	text-align: left;
	color: white;
}
H4.grey {
	font-size: 1.500rem;
	line-height: 2.000rem;
	text-align: left;
	color: #909296;
}
H5.black-center {
	font-size: 1.250rem;
	line-height: 2.000rem;
	text-align: center;
	color: #282A2C;
}
H5.black {
	font-size: 1.250rem;
	line-height: 1.750rem;
	text-align: left;
	color: #282A2C;
}
H5.black-center-pricing {
	font-size: 1.250rem;
	line-height: 1.750rem;
	text-align: center;
	color: #282A2C;
}
H5.grey2 {
	font-size: 1.250rem;
	line-height: 2.000rem;
	text-align: left;
	color: #74767B;
}
H5.iaas {
	font-size: 1.250rem;
	line-height: 1.750rem;
	text-align: left;
	color: #007CA8;
}
H5.paas {
	font-size: 1.250rem;
	line-height: 1.750rem;
	text-align: left;
	color: #228272;
}
H5.saas {
	font-size: 1.250rem;
	line-height: 1.750rem;
	text-align: left;
	color: #008193;
}
H5.display-white {
  font-size: 1.250rem;
  line-height: 2.000rem;
  color: white;
}
H5.white-center {
	font-size: 1.250rem;
	line-height: 2.000rem;
	text-align: center;
	color: white;
}
H6.black-light {
	font-size: 1.125rem;
	line-height: 1.625rem;
	text-align: left;
	color: #282A2C;
}
H6.black {
	font-size: 1.125rem;
	line-height: 1.625rem;
	text-align: left;
	color: #282A2C;
}
H6.iaas {
	font-size: 1.125rem;
	line-height: 1.625rem;
	text-align: left;
	color: #007CA8;
}
H6.paas {
	font-size: 1.125rem;
	line-height: 1.625rem;
	text-align: left;
	color: #228272;
}
H6.saas {
	font-size: 1.125rem;
	line-height: 1.625rem;
	text-align: left;
	color: #008193;
}

H6.grey2 {
	font-size: 1.125rem;
	line-height: 1.625rem;
	text-align: left;
	color: #74767B;
}
H28.black {
	font-size: 1.750rem;
	line-height: 2.625rem;
	text-align: left;
	color: #282A2C;
}
P1.black,.P1.black  {
	font-size: 1rem;
	line-height: 1.500rem;
	text-align: left;
	color: black;
}

P1.black-pricing,.P1.black-pricing {
	font-size: 1rem;
	line-height: 1.375rem;
	text-align: left;
	color: black;
}

P1.grey2,.P1.grey2 {
	font-size: 1rem;
	line-height: 1.500rem;
	text-align: left;
	color: #555555;
	font-weight: 300;
}

P1.grey2-center,.P1.grey2-center {
	font-size: 1rem;
	line-height: 1.500rem;
	text-align: center;
	color: #74767B;
}

P1.grey3 ,.P1.grey3 {
	font-size: 1rem;
	line-height: 1.500rem;
	text-align: left;
	color: #555555;
	font-weight: 300;
}

P1.iaas,.P1.iaas {
	font-size: 1rem;
	line-height: 1.500rem;
	text-align: left;
	color: #007CA8;
}

P1.paas,.P1.paas {
	font-size: 1rem;
	line-height: 1.500rem;
	text-align: left;
	color: #228272;
}

P1.saas,.P1.saas {
	font-size: 1rem;
	line-height: 1.500rem;
	text-align: left;
	color: #008193;
}

P2.grey2,.P2.grey2 {
	font-size: 0.875rem;
	line-height: 1.375rem;
	text-align: left;
	color: #777777;
}
.P3.grey2 {
	font-size: 0.750rem;
	line-height: 1.250rem;
	text-align: left;
	color: #74767B;
}

L1,.L1 {
	font-size: 2.125rem;
	line-height: 2.625rem;
	text-align: left;
	color: #909296;
}

L1:active.iaas,
L1:hover.iaas ,
.L1:active.iaas,
.L1:hover.iaas {
	color: #007CA8;
}

L1:active.paas,
L1:hover.paas,
.L1:active.paas,
.L1:hover.paas {
	color: #228272;
}

L1:active.saas,
L1:hover.saas,
.L1:active.saas,
.L1:hover.saas {
	color: #008193;
}

L2,.L2 {
	font-size: 1.125rem;
	line-height: 1.625rem;
	text-align: left;
	color: #282A2C;
}

L2:active.iaas,
L2:hover.iaas,
.L2:active.iaas,
.L2:hover.iaas {
	color: #007CA8;
}

L2:active.paas,
L2:hover.paas ,
.L2:active.paas,
.L2:hover.paas {
	color: #228272;
}

L2:active.saas,
L2:hover.saas,
.L2:active.saas,
.L2:hover.saas  {
	color: #008193;
}

L2.faq,.L2.faq {
	font-size: 1.125rem;
	line-height: 1.625rem;
	text-align: left;
	color: #145C9E;
}
L2.faq:active,
L2.faq:hover,
.L2.faq:active,
.L2.faq:hover {
	text-decoration: underline;
}
.L3\.black {
	font-size: 1.000rem;
	line-height: 1.500rem;
	text-align: left;
	color: #282A2C;
}
.L3\.black.iaas:active{
	color:#007CA8;
}
.L3\.black.saas:active{
	color:#008193;
}
.L3\.black.paas:active{
	color:#228272;
}
.L3\.black:hover {
	color: #686a6e;
}
L3 ,.L3 {
	font-size: 1.000rem;
	line-height: 1.500rem;
	text-align: left;
	color: #145C9E;
}

L3:active,
L3:hover ,
.L3:active,
.L3:hover {
	text-decoration: underline;
}

L3.white ,.L3.white {
	font-size: 1.000rem;
	line-height: 1.500rem;
	text-align: center;
	color: white;
}

L3.white:active,
L3.white:hover,
.L3.white:active,
.L3.white:hover {
	background-color: black;
	opacity: 0.3;
}


.L3.black {
	font-size: 1.000rem;
	line-height: 1.500rem;
	text-align: left;
	color: #282A2C;
}
.L3.black.iaas:active{
	color:#007CA8;
}
.L3.black.saas:active{
	color:#008193;
}
.L3.black.paas:active{
	color:#228272;
}
.L3.black:hover {
	color: #686a6e;
}

L4.center,.L4.center {
	font-size: 0.875rem;
	line-height: 1.375rem;
	text-align: center;
	color: #145C9E;
}

L4.center:active,
L4.center:hover,
.L4.center:active,
.L4.center:hover {
	text-decoration: underline;
}

L4 ,.L4 {
	font-size: 0.875rem;
	line-height: 1.375rem;
	text-align: left;
	color: #282A2C;
}

L4:active.iaas,
L4:hover.iaas ,
.L4:active.iaas,
.L4:hover.iaas{
	color: #007CA8;
}

L4:active.paas,
L4:hover.paas,
.L4:active.paas,
.L4:hover.paas {
	color: #228272;
}

L4:active.saas,
L4:hover.saas,
.L4:active.saas,
.L4:hover.saas  {
	color: #008193;
}
.L5 {
	font-size: 0.750rem;
	line-height: 0.875rem;
	text-align: left;
	color: white;
}
.L5:active {
}
.L5:hover {
	text-decoration: underline;
}
.L5.grey3 {
	font-size: 0.750rem;
	line-height: 0.875rem;
	text-align: left;
	color: #56585C;
}
.L5.grey3:active {
}
.L5.grey3:hover {
	text-decoration: underline;
}
.L6 {
	font-size: 1.250rem;
	line-height: 1.750rem;
	text-align: left;
	color:#909296;
}
.L6:active,.L6:hover  {
	color:#228272;
}
.L7 {
	font-size: 1.250rem;
	line-height: 1.750rem;
	text-align: left;
	color:#909296;
}
.L7:active,.L7:hover  {
	text-decoration: underline;
}
.B1{
	height: 2rem;
	font-size: 0.875rem;
	text-align: center;
	color: white;
	border-radius: 2px;
	padding-left: 0.750rem;
	padding-right: 0.750rem;
	background-color: #737580;
	display: inline-block;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}
.B1.active{
	background-color: #5c5d66;
}
.B1.hover{
	background-color: #8a8c99;
}
B1.paas,.B1.paas {
	height: 2rem;
	font-size: 1rem;
	text-align: center;
	color: white;
	border-radius: 0.125rem;
	padding-left: 1.250rem;
	padding-right: 1.250rem;
	background-color: #228272;
}
B1.paas:active,.B1.paas:active {
	background-color: #0572CE;
	color:white;
}
B1.paas:hover ,.B1.paas:hover {
	background-color: #0572CE;
	color:white;
}
B1.iaas,.B1.iaas {
	background-color: #007CA8;
}
B1.iaas:active,.B1.iaas:active {
	background-color: #0572CE;
	color:white;
}
B1.iaas:hover,.B1.iaas:hover {
	background-color: #0572CE;
	color:white;
}
B1.saas,.B1.saas {
	background-color: #008193;
}
B1.saas:active,.B1.saas:active {
	background-color: #0572CE;
	color:white;
}
B1.saas:hover,.B1.saas:hover {
	background-color: #0572CE;
	color:white;
}
B2 ,.B2 {
	height: 2.375rem;
	font-size: 1rem;
	text-align: center;
	color: white;
	border-radius: 0.125rem;
	padding-left: 1.250rem;
	padding-right: 1.250rem;
	background-color: black;
	opacity: 0.3;
}

B2:hover,.B2:hover {
	background-color: black;
	opacity: 0.2;
}

B2:active,.B2:active {
	background-color: black;
	opacity: 0.4;
}

B3,.B3 {
	height: 2.375rem;
	font-size: 1rem;
	text-align: center;
	color: black;
	border-radius: 0.125rem;
	padding-left: 1.250rem;
	padding-right: 1.250rem;
	background-color: #E9ECEE;
	border: 1px solid #D9DFE3;
}

B3:hover,.B3:hover {
	color: #0572CE;
	background-color: #F7F8F9;
	border: 1px solid #C4CED7;
}

B3:active,.B3:active {
	color: white;
	background-color: #0572CE;
}

B4,.B4 {
	height: 2.375rem;
	font-size: 1rem;
	text-align: center;
	color: white;
	border-radius: 0.125rem;
	padding-left: 1.250rem;
	padding-right: 1.250rem;
	background-color: #737580;
}

B4:hover,.B4:hover {
	background-color: #8a8c99;
}

B4:active,.B4:active {
	background-color: #5c5d66;
}

B5,.B5 {
	height: 1.75rem;
	font-size: 1rem;
	text-align: center;
	color: white;
	border-radius: 0.125rem;
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	background-color: #737580;
}

B5:hover,.B5:hover {
	background-color: #8a8c99;
}
B5:active,.B5:active {
	background-color: #5c5d66;
}
.B5.saas {
	height: 1.750rem;
	font-size: 1rem;
	text-align: center;
	color: white;
	border-radius: 0.125rem;
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	background-color: #008193;
}
.B5.saas:hover {
	background-color: #0572CE;
}
.B5.saas:active {
	background-color: #0572CE;
}
.B5.paas {
	height: 1.750rem;
	font-size: 1rem;
	text-align: center;
	color: white;
	border-radius: 0.125rem;
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	background-color: #228272; 
}
.B5.paas:hover {
	background-color: #0572CE;
}
.B5.paas:active {
	background-color: #0572CE;
}
.B5.iaas {
	height: 1.750rem;
	font-size: 1rem;
	text-align: center;
	color: white;
	border-radius: 0.125rem;
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	background-color: #007CA8; 
}
.B5.iaas:hover {
	background-color: #0572CE;
}
.B5.iaas:active {
	background-color: #0572CE;
}
B6,.B6 {
	height: 2rem;
	font-size: 0.875rem;
	text-align: center;
	color: black;
	border-radius: 0.125rem;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	background-color: #E9ECEE;
	border: 1px solid #D9DFE3;
}

B6:hover ,.B6:hover {
	color: #0572CE;
	background-color: #F7F8F9;
	border: 1px solid #C4CED7;
}

B6:active,.B6:active {
	color: white;
	background-color: #0572CE;
}

B7,.B7 {
	height: 3rem;
	font-size: 1rem;
	text-align: center;
	color: white;
	border-radius: 0.125rem;
	padding-left: 1.250rem;
	padding-right: 1.250rem;
	background-color: #03875F;
}
B7:hover,.B7:hover {
	background-color: #3ba182;
}
B7:active,.B7:active {
	background-color: #22614e;
}
.B8 {
	height: 2.625rem;
	font-size: 1rem;
	text-align: center;
	color: white;
	border-radius: 2px;
	padding-left: 1.250rem;
	padding-right: 1.250rem;
	background-color: black;
}
.B8:hover {
}
.B8:active {
}
.B8.paas {
	height: 2.625rem;
	font-size: 1rem;
	text-align: center;
	color: white;
	border-radius: 2px;
	padding-right: 1.250rem;
	padding-left: 1.250rem;
	background-color: #228272;
}
.B8.paas:hover {
	color:#fff;
	background-color: #0572CE;
}
.B8.paas:active {
	color:#fff;
	background-color: #0572CE; 
}
.B8.iaas {
	background-color: #007CA8;
}
.B8.iaas:hover {
	color:#fff;
	background-color: #0572CE;
}
.B8.iaas:active {
	color:#fff;
	background-color: #0572CE; 
}
.B8.saas {
	background-color: #008193;
}
.B8.saas:hover {
	color:#fff;
	background-color: #0099ad;
}
.B8.saas:active {
	color:#fff;
	background-color: #006c7a; 
}
.B9 {
	height: 2rem;
	font-size: 0.875rem;
	text-align: center;
	color: white;
	border-radius: 2px;
	padding-right: 0.750rem;
	padding-left: 0.750rem;
	background-color: black;
	opacity: 0.3;
}
.B9:hover {
	background-color: black;
 	opacity:0.2;
}
.B9:active {
	background-color: black;
	opacity:0.4;
}
@media only screen and (min-width: 40.063em){
	H1.display-saas, H1.display-paas, H1.display-iaas {
		font-size: 2.125rem;
		line-height: 2.625rem;
	}
	H1.display-black {
		font-size: 2.625rem;
		line-height: 3.125rem;
		text-align: left;
		color: #282A2C;
	}
	H1.black {
		font-size: 2.125rem;
		line-height: 2.625rem;
		text-align: left;
		color: #282A2C;
	}
	H1.white {
		font-size: 1.875rem;
		line-height: 2.375rem;
		text-align: left;
		color: white;
	}
	H1.paas, H1.saas, H1.iaas {
		font-size: 1.875rem;
		line-height: 2.375rem;
	}
	H2.saas-center,H2.iaas-center, H2.paas-center  {
		font-size: 1.750rem;
		line-height: 2.250rem;
		text-align: center;
	}
	H3.saas, H3.iaas, H3.paas {
		font-size: 1.625rem;
		line-height: 1.625rem;
	}
	H4.saas,H4.iaas, H4.paas {
		font-size:1.250rem;
		line-height: 1.750rem;
		text-align: left;
	}
	H4.black {
		font-size:1.250rem;
		line-height: 1.750rem;
	}
	H5.black-center {
		font-size: 1.125rem;
		line-height: 1.625rem;
		text-align: center;
		color: #555555;
	}
	H5.black {
		font-size: 1.125rem;
		line-height: 1.625rem;
		text-align: left;
		color: #282A2C;
	}
	H5.grey2 {
		font-size: 1.125rem;
		line-height: 1.625rem;
		font-weight: 300;
	}
	H6.saas, H6.iaas, H6.paas {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	H28.black {
		font-size: 1.500rem;
		line-height: 2rem;
	}
}
@media only screen and (min-width:48.063em) and (max-width:63.9375em) {
	H1.display-saas, H1.display-paas, H1.display-iaas {
		font-size: 2.125rem;
		line-height: 2.625rem;
	}
	H1.display-black {
		font-size: 2rem;
		line-height: 2.500rem;
		text-align: center;
		color: white;
	}
	H1.black {
		font-size: 2.125rem;
		line-height: 2.625rem;
		text-align: center;
		color: #282A2C;
	}
	H1.white {
		font-size: 1.875rem;
		line-height: 2.375rem;
		text-align: center;
		color: white;
	}
	H1.paas,  H1.saas, H1.iaas{
		font-size: 1.875rem;
		line-height: 2.375rem;
	}
	H2.saas-center, H2.iaas-center,H2.paas-center {
		font-size: 1.750rem;
		line-height: 2.250rem;
		text-align: center;
	}
	H3.saas, H3.paas, H3.iaas {
		font-size: 1.625rem;
		line-height: 2.125rem;
	}
	H4.saas, H4.paas, H4.iaas  {
		font-size:1.250rem;
		line-height: 1.750rem;
		text-align: left;
	}
	H4.black {
		font-size:1.250rem;
		line-height: 1.750rem;
		color: #282A2C;
	}
	H5.black-center {
		font-size: 1.125rem;
		line-height: 1.625rem;
		text-align: center;
		color: #282A2C;
	}
	H5.black {
		font-size: 1.125rem;
		line-height: 1.625rem;
		text-align: left;
		color: #282A2C;
	}
	H5.grey2 {
		font-size: 1rem;
		line-height: 1.500rem;
	}
	H6.saas, H6.paas, H6.iaas  {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	H28.black {
		font-size: 1.500rem;
		line-height: 2rem;
	}
}